

<nav class="navbar navbar-expand-lg navbar-dark">
  

  <ul class="navbar-nav mr-auto">
    <li routerLinkActive="active current" class="nav-item" [routerLinkActiveOptions]="{ exact: true }">
      <a             
      class="nav-link" 
      routerLink="/" >
        Home
      </a>
    </li>
    <!-- <li routerLinkActive="active current" class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/followers" 
        [queryParams]="{page: 555, order: 'newest'}">
          Followers 
      </a>
    </li> -->
    <li routerLinkActive="active current" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Automotive
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a 
          class="dropdown-item" 
          routerLink="multimedia/category">
          Multimedia
        </a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li routerLinkActive="active current" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clothes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a 
          class="dropdown-item" 
          routerLink="caps/category">
          Caps
        </a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle disabled" href="#">Digital</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle disabled" href="#">Home gadgets</a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a             
      class="nav-link" 
      routerLink="/items/saved-items" >
        Saved Items
      </a>
    </li>
    <li routerLinkActive="active current" class="nav-item">
      <a             
      class="nav-link" 
      routerLink="/about" >
        About
      </a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchInputValue" name="search-input">
    <button 
      class="btn btn-outline-success my-2 my-sm-0" 
      type="submit"
      [routerLink]="['/items/search-items/', InputValue]">
        Search
    </button>
  </form>
</nav>

