
<div 
    class="items"
    [ngClass]="{
        'align-right': alignment==='right',
        'align-left': alignment==='left'}">
    <div 
        class="item" 
        *ngFor="let item of curProductList">
        <img 
            class="item-image"
            src={{item.img}} 
            alt="Product image"
            [routerLink]="['/product-page', item.id, item.name]">
        <div class="item-description">
            <label 
            [routerLink]="['/product-page', item.id, item.name]">
                {{item.name}}
            </label>
        </div>
        <div class="buttom-bar">
            <app-like class="like-button" [id]="item.id" [likesCount]="item.likes"></app-like>
            <label class="item-price">{{item.price}}$</label>
            <saved-item class="save-button" [productId]="item.id"></saved-item>
        </div>
    </div>
</div>