
.items{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
}

/* .bar-name {
    height: 100%;
    display: inline-block;
    background-color: blue;
}

.bar-name-text{
    transform: rotate(90deg);
} */

.align-right{
    float: right;
    margin-right: 18%;
}

.align-left{
    float: left;
    margin-left: 18%;
}

.item {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    width: 17%;
    display:inline-block;
    margin: 10px;
}

.item-image{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display:table-column;
    cursor: pointer;
    opacity:1;
    transition: 500ms ease;
}

.item-image:hover{
    opacity:0.7;
    transition: 500ms ease;
}

.item-description {
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    margin: 0px;
    cursor: pointer;
    text-align:left;
    height: 45px;
}

.item-description:hover {
    text-decoration: underline;
    color: cornflowerblue;
}

.item-price {
    font-size: medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline-table;
}

.like-button{
    margin-right: 15px;
    float:right;
}

.save-button{
    margin-left: 15px;
    float:left;
    cursor: pointer;
}




