
<div class="description">
    <h2>{{title}}</h2>
    <div class="top">
        <img src={{img}}>
        <div class="details">
            <a href="{{link}}" class="link">Link</a>
            <div class="second-line">
                <span>Coupon: <label class="coupon" class="link" (click)="copyCoupon()">{{coupon}}</label></span>
                <app-like class="like-button" [id]="id" [likesCount]="likes"></app-like>
            </div>
        </div>
    </div>
    <div class="content">
        {{content}}
    </div>
</div>