
h2 {
    padding-bottom: 20px;
}

img {
    display: inline;
}

.second-line {
    display: inline-block;
}

.coupon {
}

.like-button{
    display: inline-block;
    margin-left: 30px;
}

.link {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1.5rem;
    font-weight: 500;
    height: 2.5rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-top: 10px;
    margin-bottom: 10px;
}

.link:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
    text-decoration: none;
  }

.description{
    overflow: hidden;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color:white ;
    display: block;
}

.top{
    display: inline;
    border-spacing: 10px;
}

.details {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.content{
    padding-top: 20px;
}




@media only screen and (max-width: 600px) {

    .main-img{
        width: 100%;
    }
}



